.moviesList {
  display: grid;
  grid-template-columns: repeat(2, 454px);
  gap: 36px;
  justify-items: center;
  justify-content: center;
  margin-top: 32px;
}

.spinContainer {
  margin-top: 30px;
}

@media screen and (max-width: 984px) {
  .moviesList {
    grid-template-columns: repeat(1, 454px);
    gap: 20px;
  }
}